{
 "state": "stop",
 "schedules": {
  "00:00": "off",
  "04:00": "stop",
  "06:00": "ready",
  "07:00": "go",
  "19:00": "warn",
  "20:00": "stop",
  "23:00": "off"
 },
 "scheduler": true,
 "timer_offset": 0
}